<ng-container>
    <mat-toolbar class="shadow-sm">
        <span><button class="p-0 m-0" mat-icon-button (click)="sidenav.toggle()"><i class="mat"></i></button></span>
        <span><h1 class="pl-2">NIC InsightEngine</h1></span>
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false" [fixedTopGap]="4">
            <mat-nav-list>
                <a mat-list-item *ngFor="let l of links" [routerLink]='l.route'>{{ l.link }} </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</ng-container>
